#id1, #id2, #id3, #id4, #id5, #id6, #id7, #id8{
    color:white;
   
    
}

.navbg{
    background-color:white !important;
}


@media(min-width:991px){
    #id1, #id2, #id3, #id4, #id5, #id6, #id7, #id8{
        color:black;
        font-weight:bold;
        
    }
}
